<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".NgxMonitorApplication"
        android:allowBackup="false"
        android:appCategory="productivity"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NGXHttpMonitoringClient"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NGXHttpMonitoringClient.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".background.MonitorJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".widget.ServerWidgetConfigureActivity"
            android:exported="true"
            android:theme="@style/Theme.NGXHttpMonitoringClient" />
        <activity
            android:name=".widget.MetricWidgetConfigureActivity"
            android:exported="true"
            android:theme="@style/Theme.NGXHttpMonitoringClient" />
        <activity
            android:name=".widget.GraphWidgetConfigureActivity"
            android:exported="true"
            android:theme="@style/Theme.NGXHttpMonitoringClient" />

        <receiver
            android:name=".widget.FleetWidgetProvider"
            android:exported="true"
            android:label="@string/widget_fleet_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_fleet_info" />
        </receiver>

        <receiver
            android:name=".widget.ServerWidgetProvider"
            android:exported="true"
            android:label="@string/widget_server_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_server_info" />
        </receiver>

        <receiver
            android:name=".widget.MetricWidgetProvider"
            android:exported="true"
            android:label="@string/widget_metric_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metric_info" />
        </receiver>

        <receiver
            android:name=".widget.GraphWidgetProvider"
            android:exported="true"
            android:label="@string/widget_graph_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_graph_info" />
        </receiver>

        <receiver
            android:name=".widget.IncidentsWidgetProvider"
            android:exported="true"
            android:label="@string/widget_incidents_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_incidents_info" />
        </receiver>
    </application>

</manifest>
